
<%= form_for(@appointment ||= Appointment.new, url: customer_appointments_path(@appointment), html: { :'data-remote' => true, id: 'appointment_form' } ) do |f| %>

<div class="field">
  <%= f.label :service_id, 'Services :' %><br />
  <!--<#%= f.collection_select(:service_id, @services || [], :id, :name, {:prompt => 'Select'}) %>-->
  <%#= f.options_for_select(:service_id, @services, {:prompt => 'Select'}) %>
  <%#= f.select(:appointment, :service_id, @services) %>
  <%= f.select(:service_id) do %>
    <% @services.each do |serv| -%>
      <%= content_tag(:option, serv.first, value: serv.last) %>
    <% end %>
  <% end %>

</div>

<div class="field">
  <%= f.label :staff_id, 'Staff :' %><br />
  <%= f.collection_select(:staff_id, [], :id, :name, {:prompt => 'Select'}) %>
</div>

<p>
  <%=f.label :description %>
  <br/>
  <%=f.text_area :description, :rows => 4, :cols => 30 %>
</p>
<p>
  <%=f.label :starttime, 'Start Time' %>
  <br/>
  <%=f.datetime_select :starttime %>
</p>
<p>
  <%=f.label :endtime, 'End Time' %>
  <br/>
  <%=f.datetime_select :endtime %>
</p>
<p>
  <%=f.submit %>
  <span id = "creating_events" class="spinner" style = "display:none;">Creating, Please wait...</span>
</p>
<%end %>