<br />
<%= link_to 'Home', welcome_path %>
<br />

<h1>SERVICES</h1>

<%= link_to 'Create New Service', new_admin_service_path, class: 'new-service-link', remote: true %><br /><br />

<table border = '2' width = '500'>
  <tr>
    <th>Service Name</th>
    <th>Duration(in minutes)</th>
    <th>Delete</th>
  </tr>

  <% @services.each do |service| %>
    
    <tr class="<%= service.destroyed? ? 'redify' : 'greenify' %>">

      <td class="list_description">
        <%= service.name %>
      </td>

      <td class="list_description">
        <%= service.slot_window %>
      </td>

      <% if service.destroyed? %>

        <td class="list_actions">
          <%= link_to 'Enable', enable_admin_service_path(service), method: :put %>
        </td>

      <% else %>

        <td>
          <%= link_to 'Disable', admin_service_path(service), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>

      <% end %>

    </tr>
  <% end %>
</table>
<br/>
<%= will_paginate @services %>
<br/>

<div id = 'form-render'>
</div>