<%= form_for @site_layout  do |f| %>
  <% if @site_layout.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@site_layout.errors.count, "error") %> prohibited
      this site layout from being saved:</h2>
    <ul>
    <% @site_layout.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :logo, 'Upload Logo:' %><br />
    <%= f.file_field :logo %>
  </div>
  <br />
  <div class="field">
    <%= f.label :background, 'Upload Background :' %><br />
    <%= f.file_field :background %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>