<br />
<%= link_to 'Home' , welcome_path %>
<br />

<h2>Customers</h2>

<%= link_to 'New Customer', new_admin_invitation_path(invitee_type: 'Customer'), class: 'new-customer-link', remote: true %><br /><br />

<table border = '2' width = '700'>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>Appointments</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

  <% @customers.each do |customer| %>
    
    <tr class="<%= customer.destroyed? ? 'redify' : 'greenify' %>">
      <td class="list_description">
        <%= customer.name %>
      </td>

      <td class="list_description">
        <%= customer.email %>
      </td>

      <td class="list_description">
        <%= customer.phone_number %>
      </td>

      <td class="list_description">
        <%= customer.appointments.count %>
      </td>

      <% if customer.destroyed? %>
        <td class="list_actions" colspan = 2 >
          <%= link_to 'Enable', enable_admin_customer_path(customer), method: :put %>
        </td >
      <% else %>
        <td class="list_actions">
          <%= link_to 'Edit', edit_admin_customer_path(customer), remote: true %>
        </td>

        <td class="list_actions">
          <%= link_to 'Disable', admin_customer_path(customer), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      <% end %>
  <% end %>

  <% @invited_customers.each do |customer| %>

    <tr class="invitees">
      <td class="list_description">
        <%= customer.name %>
      </td>

      <td class="list_description">
        <%= customer.email %>
      </td>

      <td class="list_description">
        <%= customer.phone_number %>
      </td>

      <td class="list_description">
        NA
      </td>

      <td class="list_actions" colspan = 2 >
        NA
      </td>

    </tr>
  <% end %>

</table>
<br/>
<%= will_paginate @customers %>
<br/>

<div id = 'form_render'>
</div>