<h1>Welcome</h1>

<%= link_to 'Customer Information', search_customers_path %><br />
<%= link_to 'Services', services_path %><br />
<%= link_to 'Availabilities', availabilities_path %><br />
<%= link_to 'Staff', staffs_path %><br />
<%= link_to 'Customers', customers_path %><br />
<%= link_to 'Upload Logo', edit_site_layout_path(current_layout) %><br />
<%= link_to 'Appointment', new_appointment_path %><br />
