<!--<#%= path = if @invitation.new_record? ? new_admin_customer_path : edit_admin_customer_path %>-->

<%= form_for [:admin, @invitation], html: { :'data-remote' => true } do |f| %>
  <% if @invitation.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @invitation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name, 'Name :' %><br />
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email, 'Email :' %><br />
    <%= f.text_field :email %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>