<!DOCTYPE html>
<html>
  <head>
    <title>AppointmentManagementSystem</title>
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= yield :moment_calendar_js %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body class = '<%= controller.controller_name %>' style = 'background: url("<%= current_layout.background(:full) %>")'>
    <div id="banner">
      <div id='logo-image'>
        <%= image_tag (current_layout.logo) %>
      </div>
      <h2>Appointment Management System</h2>
    </div>
    <div id="main">
      <!--<div id="main" > -->
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Sign Out', destroy_user_session_path, :method => 'delete' %>
        <% end %>
        <h1>Welcome</h1>

        <div class = 'welcome-links'>
          <%= link_to 'Appointment', staff_appointments_path %>
        </div>

        <% flash.each do |key, value| %>
          <%= content_tag :div, value %>
        <% end %>
        <div>
          <%= yield %>
        </div>
      <!-- </div> -->
    </div>
  </body>
</html>
